{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "endOfLine": "auto",
  "trailingComma": "none",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/app/assets/styles/tailwind/index.css"
}
